/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/08/2018, 09:34:08 PM
    Author     : Diana Margarita
*/
*{padding: 0px;
      margin:0px;
}
body{ width:100%;
 height: 100%;
 background-image:url(imagen/jardin6.jpg)
-webkit-background-size: 100% 100%;           /* Safari 3.0 */
     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 100% 100%;           /* Opera 9.5 */
          background-size: 100% 100%;           /* Gecko 2.0 (Firefox 4.0) and other CSS3-compliant browsers */
 
  -moz-border-image: url(imagen/jardin6.jpg) 0;    /* Gecko 1.9.1 (Firefox 3.5) */
} 

